<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GIPHY Chat</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Socket.io -->
    <script src="/js/socket.io.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap" rel="stylesheet">

    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Sweet Alert -->
    <script src="/js/sweetalert.min.js"></script>

    <!-- Socket.IO -->
    <script src="/js/socket.io.js"></script>
    
    <!-- JQuery -->
    <script src="/js/jquery-1.11.1.js"></script>

</head>