<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/">Giphy Chat</a>

    <ul class="navbar-nav create-room">
        <li class="nav-item active">
            <a class="nav-link" href="/room/create/"><button class="btn btn-outline-success">Create Room</button></a>
        </li>
    </ul>

    <form class="form-inline">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
            <input type="text" id="search" class="form-control" placeholder="Search Rooms" aria-label="Search"
                list="rooms">
            <datalist id="rooms">
                <% if (rooms.length !== 0) { %>
                <% rooms.forEach(room => { %>
                <option class="search-options" value="<%= room.name %>"></option>
                <% }) %>
                <% } %>
            </datalist>
        </div>
    </form>
</nav>

<script>
    let element = document.getElementsByClassName('search-options');
    console.log(element);

    element.on('click', function(){
        console.log(this);
        alert(this);
    });
</script>

